<!DOCTYPE html>
<html lang="en" ng-app="alfmock">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alfresco</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="alfmock.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="alfmock.css">
</head>
<body ng-controller="AlfCtrl as alf">

<div class="jumbotron vertical-center" ng-hide="alf.person.signedIn">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form name="alf.loginForm" ng-submit="alf.submit()"
                  class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Anmeldung</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username">Benutzer:</label>
                        <input type="text" id="username" name="username" class="form-control"
                               ng-model="alf.person.userName" required autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="password">Kennwort:</label>
                        <input type="password" id="password" name="password" class="form-control"
                               ng-model="alf.person.password" required/>
                    </div>
                    <button type="submit" class="btn btn-primary center-block" ng-disabled="!alf.loginForm.$valid">
                        Anmelden
                    </button>
                </div>
                <div class="panel-footer" ng-show="alf.logoutmsg">
                    {{ alf.logoutmsg }}
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-default" ng-show="alf.person.signedIn">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text">{{ alf.person.firstName }} {{ alf.person.lastName }}
                    &lt;{{ alf.person.email }}&gt;</p>
            </li>
            <li>
                <button type="button" class="btn btn-primary navbar-btn" ng-click="alf.logout()">Abmelden</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Hello to Alfmock!</h1>
    <p class="lead">Jetzt wird es interessant.</p>
    <p>Naja, wollen nicht zuviel versprechen.</p>
</div>

</body>
</html>